*{
	margin: 0px;

}
body{
    background-color: #525252;
}
header{
    padding: 15px 39px;
    background-color: black;
}
.box{
    width: 1300px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    /* flex-basis: 20%; */
    flex-basis: 10%;
}
.logo a{}
.logo a img{
    max-width: 100%;
}
nav{
    /* flex-basis: 80%; */
    flex-basis: 90%;
}
nav ul{
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #00cc8b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    letter-spacing: 2px;
}
.banner{
    width: 1300px;
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
    padding: 20px 0;
}
.banner img{
    width: 1300px;
    height: 556px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 11px 5px 0 0 #2f2f2f;
}
.service-scetion{
    margin-left: 120px;
    /* margin: auto; */
    background-color: 5a6360;
    border-color: #3f9077;
    /* margin: auto; */
    /* margin: 0 auto; */
    display: flex;
}
.service{
    flex-basis: 30.33%;
    padding: 19px;
     border-color: #00cc8a;
}
.service i{
    margin: ar;
    color: white;
    background-color: #2e886b;
    padding: 16px;
    font-size: 30px;
    border-radius: 10px;
}
.service  h2{
    text-align: center;
    font-size: 30px;
    /* padding: 10px; */
    margin-top: 32px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #2e886b;
}
.service  p{
    color: gray;
}
.turak{
    border: 2px solid;
    padding: 21px;
    text-align: center;
    border-color: #292929;
    border-radius: 10px;
    border-radius: 50px;
    /* background: #00cc8a; */
    border-radius: 50px;
    /* background: #5a6360; */
    /* box-shadow:  20px 20px 60px #4d5452,
             -20px -20px 60px #68726e; */
    /* box-shadow:  20px 20px 60px #00ad75,
             -20px -20px 60px #00eb9f; */
    border-radius: 50px;
    background: #292929;
    box-shadow:  20px 20px 60px #232323,
             -20px -20px 60px #2f2f2f;
}